#section1 {
    width: 328px;
    text-align: justify;
    color: green;
    border: 1px solid sandybrown;
    margin: 5px 20px 30px;
    padding: 5px 24px 10px;
}

#section2 {
    color: red;
    width: 328px;
    text-align: justify;
    border: 1px solid sandybrown;
    margin: 5px 20px 30px;
    padding: 5px 24px 10px;
}

#section3 {
    color: blue;
    width: 328px;
    text-align: justify;
    border: 1px solid sandybrown;
    margin: 5px 20px 30px;
    padding: 5px 24px 10px;
}

.heading1 {
    font-size: 18px;
}

.content {
    font-size: 14px;
}